<div class="container" fxLayout="row" fxLayoutGap="18px">
    <button mat-icon-button><img src="assets/add_alert_black_18dp.svg"></button>
    <button mat-icon-button><img src="assets/person_add_alt_black_18dp.svg"></button>
    <button mat-icon-button><img src="assets/palette_black_18dp.svg"></button>
    <button mat-icon-button><img src="assets/image_black_18dp.svg"></button>
    <button mat-icon-button><img src="assets/archive_black_18dp.svg"></button>
    <button mat-icon-button><img src="assets/more_vert_black_18dp.svg"></button>
</div>