.titletext{
    border:none;
    outline:none;
    height:26px;
    width:100%;
    padding-bottom: 10px;
    font-size: 20px;
}
.takenote{
    border:none;
    outline:none;
    height:20px;
    width:100%;
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 15px;
}
.container{
    padding-top: 50px;
}
.design{
    border-style:solid;
    border-color:lightgray;
    border-radius: 2.5%;
    border-width: 1px;
}