<div class="div" fxLayoutAlign="center">
    <mat-card class="design" fxFlex="25">
        <form [formGroup]="forgotpasswordForm" (ngSubmit)="forgotpassword()">
            <div fxLayout="column" fxLayoutAlign="center center">
                <h1>
                    <span style="color:blue">F</span>
                    <span style="color:red">u</span>
                    <span style="color:yellow">n</span>
                    <span style="color:blue">d</span>
                    <span style="color:green">o</span>
                    <span style="color:red">o</span>
                </h1>
                <h1>Password Recovery</h1>
                <p>To help keep your account safe, Google wants to</p>
                <p>make sure its really you trying to sign in</p>
            </div>
            <div fxLayout="column">
                <mat-form-field appearance="outline">
                    <mat-label>Email or Phone</mat-label>
                    <input matInput formControlName="email">
                    <mat-error>Email is required</mat-error>
                </mat-form-field>
            </div>
            <div class="bottom">
                <button mat-flat-button class="button">Submit</button>
            </div>
        </form>
    </mat-card>
</div>