<div class="design" fxFlexFill fxLayout="row wrap" fxLayoutGap="30px grid" >
    <div *ngFor="let note of allnotes"> 
        <mat-card class="matcard">
            <div>
                <mat-card-title (click)="openDialog(note)">{{note.title}}</mat-card-title>
            </div>
            <div>
                <mat-card-subtitle (click)="openDialog(note)">{{note.description}}</mat-card-subtitle>
            </div>
            <div>
                <app-icons class="icons" [noteId]="note" ></app-icons>
            </div>
        </mat-card>
    </div>
</div>