.div{
    width:100vw;
    height:100vh;
}
.design{
    border-style:double;
    border-color:lightgray;
    border-radius: 1.5%;
    border-width:0.5px;
}
.link1{
    text-decoration: none;
    font-size: 16px;
    color:#1a73e8;
    padding-left: 1px;
}
.link2{
    text-align:start;
    font-size: 16px;
    color:#1a73e8;
    padding-left: 1px;
}
 .button{
     text-align: center;
     height:38px;
     width: 80px;
     color:white;
     background-color:#1a73e8;
 }
 .bottom{
     padding-top: 20px;
     padding-bottom: 5px;
 }