<div class="div" fxLayoutAlign="center">
    <mat-card class="design" fxFlex="25">
        <form [formGroup]="resetpasswordForm" (ngSubmit)="resetpassword()">
            <div fxLayout="column" fxLayoutAlign="center center">
                <h1>
                    <span style="color:blue">F</span>
                    <span style="color:red">u</span>
                    <span style="color:yellow">n</span>
                    <span style="color:blue">d</span>
                    <span style="color:green">o</span>
                    <span style="color:red">o</span>
                </h1>
                <h1>Password Reset</h1> 
            </div>
            <div fxLayout="column">
                <mat-form-field appearance="outline">
                    <mat-label>New Password</mat-label>
                    <input matInput [type]="showPassword ? 'text' : 'password'" formControlName="password" >
                    <mat-error>Password is required</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Confirm New Password</mat-label>
                    <input matInput [type]="showPassword ? 'text' : 'password'" formControlName="confirm" >
                    <mat-error>Confirm Password is required</mat-error>
                </mat-form-field>
            </div> 
            <p class="hint">Use 6 or more characters with a mix of letters, numbers & symbols</p>
            <mat-checkbox class="check" matSuffix (click)="checkboxPassword()" >Show Password</mat-checkbox>
            <div class="bottom">
                <button mat-flat-button class="button">Submit</button>
            </div> 
        </form>
    </mat-card>
</div>