.float-container{
    margin-top: 5%;
}
.design{
    border-style:double;
    border-color:lightgray;
    border-radius: 1.5%;
    border-width:0.5px;
}
.lname{
    padding-left: 1.5%;
}
.uname{
    width:411px;
}
.cpass{
    padding-left: 1.5%;
}
.hint{
    padding-left: 10px;
    font-size: 11px;
    font-weight: lighter;
}
.link1{
    margin-left: -10px;
    font-size: 16px;
    color:#1a73e8;
}
.button{
     text-align: start;
     margin-left: 290px;
     height:38px;
     width: 150px;
     padding-left: 19px;
     color:white;
     background-color:#1a73e8;
 }
.bottom{
    padding-top: 10%;
    padding-bottom: 8%;
}
.googleimage{
    height: 244px;
    width:244px;
    padding-top: 23%;
    padding-left: 24%;
}
.fline{
    margin-left: 118px;
    font-size: 16px;
    font-weight: lighter;
}
.sline{
    margin-left: 158px;
    font-size: 16px;
    font-weight: lighter;
}
.float-child{
    width : 50%;
    float: left;  
}